.bvhg-hook-prepend-markup-cue,
.bvhg-hook-before-markup-cue,
.bvhg-hook-after-markup-cue,
.bvhg-hook-append-markup-cue {
	display: block;
	padding: 2px 5px;
	margin: 10px 5px !important;
	border: 1px solid;
	overflow: hidden;
	word-wrap: break-word;
	font-size: x-small;
	text-transform: none;
}

.bvhg-hook-prepend-markup-cue,
.bvhg-hook-append-markup-cue {
	color: red !important;

}

.bvhg-hook-before-markup-cue,
.bvhg-hook-after-markup-cue {
	color: blue !important;
}

#wpadminbar {
	position: absolute !important;
	top: 0% !important;
}

/* Show only default top level items */
#wp-admin-bar-bvhg_html_hook_list {
	display: inline !important;
}

.uk-navbar-nav > li > a {
	height: auto !important;
}

